<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>JspServlet</servlet-name>
		<servlet-class>com.full.JspServletServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JspServlet</servlet-name>
		<url-pattern>/JspServletServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.full.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.full.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>com.full.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/MessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.full.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserData</servlet-name>
		<servlet-class>com.full.UserData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserData</servlet-name>
		<url-pattern>/UserData</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>DeleteData</servlet-name>
		<servlet-class>com.full.DeleteData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteData</servlet-name>
		<url-pattern>/DeleteData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IncludeServlet</servlet-name>
		<servlet-class>com.full.IncludeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IncludeServlet</servlet-name>
		<url-pattern>/IncludeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateData</servlet-name>
		<servlet-class>com.full.UpdateData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateData</servlet-name>
		<url-pattern>/UpdateData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.full.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditData</servlet-name>
		<servlet-class>com.full.EditData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditData</servlet-name>
		<url-pattern>/EditData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadData</servlet-name>
		<servlet-class>com.full.DownloadData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadData</servlet-name>
		<url-pattern>/DownloadData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TranslateServlet</servlet-name>
		<servlet-class>com.full.TranslateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TranslateServlet</servlet-name>
		<url-pattern>/TranslateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TranslateServlettest</servlet-name>
		<servlet-class>com.full.TranslateServlettest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TranslateServlettest</servlet-name>
		<url-pattern>/TranslateServlettest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VideoServlet</servlet-name>
		<servlet-class>com.full.VideoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoServlet</servlet-name>
		<url-pattern>/VideoServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>homemain.html</welcome-file>
	</welcome-file-list>
</web-app>
